* {
  border: solid black 3px;
  margin: 0.1em;
}

.card {
  height: 150px;
}

.spades {
  background: lightblue;
}

.clubs {
  background: lightgreen;
}

.hearts {
  background: lightcoral;
}

.diamonds {
  background: lightyellow;
}
