* {
  border: solid white 1px;
  margin: 0.1em;
  background: darkgrey;
}
body {
  display: flex;
  background: lightgreen;
  display: flex;
  flex-flow: row wrap;
  width: auto;
  height: 100%;
  justify-content: center;
}

h1 {
  display: flex;
  order: -4;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  width: 1950px;
  height: 100px;
  justify-content: center;
}

.playerOne {
  display: flex;
  order: -1;
  width: auto;
  background: turquoise;
  height: 100px;
  margin: 1px 1px 1px 1px;
}

.playerTwo {
  display: flex;
  order: 1;
  width: auto;
  background: turquoise;
  height: 100px;
  margin: 1px 1px 1px 1px;
}
.card {
  height: 150px;
  width: 100px;
}

.spades {
  background: green;
}

.clubs {
  background: blue;
}

.hearts {
  background: red;
}

.diamonds {
  background: yellow;
}

.compCard {
  order: 2;
}
.hidden {
  background: black;
}

.hole {
  order: -2;
}

.community {
  order: 0;
}

.btn {
  order: -3;
  background: slategrey;
  height: 100px;
  width: 50px;
}
